.page {
	width: 790px;
	margin: auto;
	font-size: 16px;
	border: solid 2px darkred;
	background-color: white;
}

.photo {
	height: 180px;
	border: solid 2px;
	border-radius: 30px;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	margin-top: 1%;

}

.info {
 float: left;
 font-size: 18px;
 padding-left: 10px;
}

.photo1{

	float: right;
	margin-right: -80px;
}

.t1 
{
	margin bottom: 70px;
	text-align: justify;
	border: solid 2px;
	border-radius: 30px;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
        font-size: 18px;
        padding-left: 10px;
}

.left
{
	float: left;
	margin-right: 5px;
}
