{
    margin: 0px;
    padding: 0px;
}

img
{
    border-radius: 4px;
    width: 50px;
    max-width: 50%;
}


nav
{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    position: sticky;
    top: 0px;
    padding-top: 10px;
}

nav ul
{
    list-style-type: none;
    font-size: 140%;
}

nav ul li
{
    float: left;
    width: 20%;
    text-align: center;
}

nav ul::after
{
    content: "";
    display: table;
    clear: both;
}

nav a
{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a.hover
{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous
{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    font-size: 100%;
}

nav > ul li:hover .sous
{
    display: block;
}

.sous li
{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a
{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover
{
    border-bottom: none;
    background-color: rgb(117, 238, 5)

}

.sous
{
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: grey;
    position: absolute;
    width: 250px;
    z-index: 1000;
}

nav ul li
{
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}

.menu-html:hover
{
    border-top: 5px solid #e44d26;
    background-color: RGBa(229, 77, 38, 0.75);
}

.menu-css:hover
{
    border-top: 5px solid #0070bb;
    background-color: RGBa(000, 112, 192, 0.75);
}

.menu-js:hover
{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.75);
}

.menu-sql:hover
{
    border-top: 5px solid #BBB;
    background-color: RGBa(220, 220, 220, 0.75);
}

.menu-mission:hover
{
    border-top: 5px solid rgb(248, 13, 248);
    background-color: RGBa(222, 9, 220, 0.75);
}
